.title {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}

.title input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  outline: none;
  width: 50%;
  border-radius: 2rem;
}

@media(max-width: 384px) {
  .title {
    padding: 2rem 0;
  }
}