.content {
  padding: 4rem;
  flex: 2;
  overflow-y: scroll;
}

@media(max-width: 992px) {
  .content {
    flex-direction: column;
    height: auto;
    overflow-y: hidden;
  }
}

@media(max-width: 384px) {
  .content {
    padding: 1.5rem;
  }
}