.content {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 4rem;
  flex: 2;
  overflow-y: scroll;
  /* margin: 0rem 0 8rem 0; */
}
