.user img {
  height: 100px;
  border-radius: 50%;
  border: 1px solid #b3ff00;
}

.user p {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.glass {
  background: #fff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(2rem);
  border-radius: 2rem;
  height: 70vh;
  width: 60%;
  z-index: 2;
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 2rem 0 0 2rem;
}

.link {
  display: flex;
  margin: 2rem 0;
  padding: 8px 20px;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(232, 236, 241, 0.8);
  border-radius: 2rem;
}

.link:hover {
  background: #242424;
}

.link h2 {
  padding: 2rem;
}

.link a {
  font-size: 28px;
  background: linear-gradient(to right, #00f7ff, #b3ff00 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.socialText {
  margin-left: 18px;
  font-size: 16px;
  font-weight: 600;
  -webkit-text-fill-color: #fff;
}

.codes {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #00f7ff, #b3ff00);
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.pro a {
  display: block;
  font-size: 42px;
  color: #222;
  cursor: default;
}

.pro h2 {
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
}

.status {
  margin-bottom: 1rem;
  width: 90%;
  text-align: center;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  outline: none;
  width: 50%;
  padding: 0.01rem;
  border-radius: 2rem;
}

.codes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.cards {
  width: 95%;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  margin: 2rem 0;
  padding: 2rem;
  justify-content: space-between;
}

.card img {
  height: 70px;
}

.cardInfo h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4px;
  pointer-events: none;
}

.cardInfo p {
  margin-bottom: 4px;
  font-size: 12.7px;
  font-weight: 200;
  pointer-events: none;
}

.progress {
  position: relative;
  background: linear-gradient(to right top, #00f7ff, #b3ff00);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  overflow: hidden;
}

.css::after {
  content: '';
  position: absolute;
  background: rgb(236, 236, 236);
  width: 100%;
  height: 100%;
  border-radius: 0 0 1rem 0;
  left: 92%;
}

.html::after {
  content: '';
  position: absolute;
  background: rgb(236, 236, 236);
  width: 100%;
  height: 100%;
  border-radius: 0 0 1rem 0;
  left: 86%;
}

.js::after {
  content: '';
  position: absolute;
  background: rgb(236, 236, 236);
  width: 100%;
  height: 100%;
  border-radius: 0 0 1rem 0;
  left: 60%;
}

.percentage {
  font-weight: 600;
  background: linear-gradient(to right top, #00f7ff, #b3ff00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.next {
  background: linear-gradient(to right top, #00f7ff, #b3ff00);
  border-radius: 2rem;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.next i {
  display: flex;
  font-size: 28px;
  color: #222;
  cursor: default;
}

.next h2 {
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  padding: 0 0.2rem;
  display: flex;
}

.previus {
  background: linear-gradient(to right top, #00f7ff, #b3ff00);
  border-radius: 2rem;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border: none;
}

.previus i {
  display: flex;
  font-size: 28px;
  color: #222;
  cursor: default;
}

.previus h2 {
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  padding: 0 0.2rem;
  display: flex;
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}