
.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigationItems {
  display: flex;
  flex-direction: row;
}

.navigationItems .previus {
  margin-right: 1rem;
  background-color: red;
}

.btn {
  background: linear-gradient(to right top, #00f7ff, #b3ff00);
  border-radius: 1rem;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.btn:first-child {
  margin-right: 2rem;
}

.btn i {
  display: flex;
  font-size: 28px;
  color: #222;
  cursor: default;
}

.btn h2 {
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  padding: 0 0.2rem;
  display: flex;
}

